<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>MathJax example</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>

<body>

<h3 style="text-align: center;">&nbsp;<strong>Dynamic Probabilistic Principal Component Analysis (DPPCA)</strong></h3>
<p>DPPCA is a model for high-dimensional longitudinal data. It enables to achieve dimension reduction while appropriately modelling the correlation due to repeated measurements.</p>
<div>
<p>The model can be formulate as follow:</p>
</div>
<p>\[\underline{x_{im}} = \mathbf{W_m}\underline{u_{im}} +&nbsp; \underline{\epsilon_{im}}\]</p>
<p>&nbsp;where&nbsp;</p>
<ul>
<li>\(\underline{x_{im}}\) is the vector of observed features for subject i at time point m.</li>
<li>\(\mathbf{W_m}\) is the \(p \times q\) loadings matrix at time m</li>
<li>\(\underline{u_{im}}\) is the q-dimensional vector of latent scores of subject i at time point m.</li>
<li>\(\underline{\epsilon_i}\) is the error component</li>
</ul>
<p>The model assumes the following:</p>
<ol>
<li>\(\underline{\epsilon_i} \sim MVN(\underline{0}, \sigma^2 \mathbf{I})\)</li>
<li>\(\underline{u_{im}} \sim MVN(\underline{0}, H_m)\) where \(H_m = diag(h_{1m},...,h_{qm}) \)</li>
</ol>
<p>To model the time correlation we assume that the logarithm of the variances of the latent scores \( h_{1m},...,h_{qm} \) and of the error \(\sigma^2_m \) follow stochastic volatily models.</p>

<p><span style="text-decoration: underline;"><strong>Stochastic Volatility Model for Latent Scores:</strong></span></p>

<p>An SV model on the latent variable \( u_{ijm}\) is expressed as:</p>
<ol>\( {u}_{ijm} = \exp(\lambda_{jm}/2) \zeta_{ijm}\)</ol>

 <p> where  \(  \lambda_{jm} = \log(h_{jm}) \) is the log-volatility and \( \zeta_{ijm}\) follows a univariate Gaussian distribution.</p>

<p>The q-vector of log-volatilities \(\underline{\lambda_m}^T = (\lambda_{1m},..., \lambda_{qm} )\) is assumed to have a first-order auto-regressive VAR(1) process centered near a mean:</p>

 <ol> \(  \underline{{\lambda}}_m = {\underline{\mu}} + \Phi ({\underline{\lambda}}_{m-1} - {\mu}) + {R}_m \) </ol> where
 \( {R}_m \sim MVN_q({0},{V}) \).

 <p> The parameter \( \Phi \) is a matrix of persistance parameter and quantifies the strength of time dependence is the SV model for the latent variables.</p>
<p> \( {R}_m \) are independent innovations.</p>

<p><span style="text-decoration: underline;"><strong>Stochastic Volatility Model for Errors:</strong></span></p>

Another SV model is assumed for the variance of the errors to model potential time dependence in the errors of the DPPCA model. The vector  \( \varepsilon_{im}  \) is expressed as:

 <ol>  \( \varepsilon_{im} = \exp(\eta_{m}/2) \xi_{im} \)  </ol>

 <p>where \( \eta_m = \log(\sigma^2_m) \) is the log-volatility at time m and  \( \xi_{im} \sim MVN_p({0},{I}) \). The log-volatilities on the errors follow a first-order auto-regressive AR(1) process:</p>

  <ol> \( \eta_m = \nu + \phi (\eta_{m-1} - \nu) + {r}_m \) </ol>

  <p>  which is centered at \( \nu \) and the persistance parameter is \( \phi \).  We assume that \( r_m \sim N(0, v^2) \). </p>

<p><span style="text-decoration: underline;"><strong>Inference:</strong></span></p>

A Bayesian approach is taken when estimating the DPPCA model, which requires the specification of prior distributions for all the parameters. The conditional posterior distributions are used in a Metropolis-within-Gibbs algorithm to sample from the model parameters and latent variables.

<p> The prior distributions considered in the algorithm require the specification of the following hyperparameters:</p>

<li> \(  \alpha, \beta \): prior distribution of  \( v^2 \), a Inverse Gamma  \( IG(\alpha/2, \beta/2) \) distribution. </li>
 <li> \( \mu_\nu \) and  \( \sigma^2_{\nu} \): prior parameters of \( \nu \), a \(N(\mu_\nu,\sigma^2_{\nu}) \)distribution. </li>
<li>  \( \mu_\phi, \sigma^2_\phi \): prior of  persistance parameter \( \phi \), a \( N_{[-1,1]}(\mu_\phi,\sigma^2_\phi) \) distribution. </li>
 <li>  \( \alpha_V,  \beta_V \): prior of V, a  \( IG({(\alpha_V)}/2, (\beta_V)/2) \) distribution.  </li>
 <li> \(  \sigma^2_\mu \): prior of \( \mu \), a \( N(0,\sigma^2_\mu) \) distribution.  </li>
<li>\( \mu_\Phi,  \sigma^2_{\Phi} \): prior of \( \Phi \), a \( N_{[-1,1]}(\mu_\Phi,\sigma^2_\Phi) \)distribution.   </li>
<li>\( \Omega_m \): prior covariance matrix of \(W_m\), a  \(MVN(0, \Omega_m) \)distribution.   </li>

<p>  Chain convergence should be checked using trace plots. These should exhibit a stationary pattern. </p>

